@model HomeClickerViewModel

<div id="main">
    <p>Use this area to provide additional information.</p>
    <br />
    <br />
    <hr />
    <br />
    <br />
    <div>
        <table class="table">
            @foreach(Portfolio.Core.Click click in Model.Clicks)
            {
                <tr>
                    <td>@click.Id</td>
                    <td>@click.Edited</td>
                </tr>
            }
        </table>
    </div>
</div>